@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;


 
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
}

.music-card {
  position: relative;
  margin: 0 auto;
  max-width: 480px;
  display: flex;
  
}

/* control */
.music-card {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.music-card .icon-pause {
  display: none;
}

.music-card.playing .icon-pause {
  display: inline-block;
}

.music-card.playing .icon-play {
  display: none;
}


/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

.dashboards {
  padding: 16px 16px 16px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-radius:12px;

}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;

}

.cd-thumb {
  background-color: #333;
  padding-top: 100%;
  background-size: cover;
  border-radius: 50%;
  width: 100%;
  /* box-shadow: 0px 6px 5px #ccc; */

}



/* CONTROL */
.control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 0 6px 0;
}

.control .btn {
  color: white;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}


.control .btn-reapeat {}

.control .btn-prev {}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.control .btn-next {}

.control .btn-random {}

/* PROGRESSBAR */

.progressbar {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 6px;
}

.progressbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* TIMER */
.progresstime{
 align-items: center;
 justify-content: space-between;
  user-select: none;
 font-size: 1.6rem;
 display: flex;
 margin-top: 8px;
 color: white;

}

/* PLAYER LIST */

.playlist {
  margin-top: 450px;
  padding: 12px;
}


.song {
  display: flex;
  width:100%;
  min-width: 450px;

  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .favourite,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1 ;
  padding: 0 16px;

}

.song .title {
  font-size: 18px;

  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;

}

.song .favourite {
  padding: 16px 8px;
  color: black;
  font-size: 20px;
}

/* heart */
.dashboards .progresstime{


}.area{
  z-index: -99;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}